scripts/.Rhistory
.RData
.Rhistory
.Rproj.user
microsoft_sample.csv
images/*
README.html
presentations/Git.pptx 
presentations/GitHub.pptx 
presentations/r-data-structures.pptx 
presentations/intro-to-r-programming.pptx 
